body {
    background: #c4bfbf;
}
textarea{
    background: #e6dfdf;
    color: rgb(8, 8, 8);
    border: #e6dfdf;
    padding: 0.1%;
}
input{
    background-color: Transparent;
    color: rgb(7, 7, 7);
    font-stretch: condensed;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
small{
    color: rgb(99, 109, 109);
}
text{
    color: rgb(145, 40, 3);
}
search{
    position: fixed;
}
div.a{
    padding: 0.25%;
    text-align: end;
}


.electron-in-page-search-window {
    position: fixed;
    top: 0;
    right: 0;
    border: #c4bfbf;
    background-color: #c4bfbf;
    width: 300px;
    height: 30px;
}
.search-inactive {
    visibility: hidden;
}
.search-active {
    visibility: visible;
}
